a[aria-label$="Twitter"] svg path {
    visibility: hidden;
}

a[aria-label$="Twitter"] svg{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Twitter-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 56%;
}
div[aria-label="Loading…"] svg path {
    visibility: hidden;
}

div[aria-label="Loading…"] svg {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Twitter-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 86%;
}
